{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    ["transform-runtime", {   //为避免async/await报错和babel-polyfill过大而采用的此插件
      "helpers": false, // defaults to true 
      "polyfill": false, // defaults to true 
      "regenerator": true, // defaults to true 
      "moduleName": "babel-runtime" // defaults to "babel-runtime" 
    }]
    ,["import", {
      "libraryName": "antd",
      "style": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform",
          {
            "transforms": [{
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            }]
          }
        ]
      ]
    }
  }
}